<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libsysmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
        </activity>

        <activity android:name=".pages.LoginPage" />
        <activity android:name=".pages.CreateAccountPage" />
        <activity android:name=".pages.ResetPasswordPage" />
        <activity android:name=".user_home_pages.LibrarianHomePage"/>
        <activity android:name=".user_home_pages.AdminHomePage"/>
        <activity android:name=".user_home_pages.MemberHomePage"/>
        <activity android:name=".pages.SearchBookPage" />
        <activity android:name=".pages.BrowseBookPage" />
        <activity android:name=".pages.UnlockUserPage" />
        <activity android:name=".pages.ExtendRentalPage" />
        <activity android:name=".pages.GetRentalTitlePage" />
        <activity android:name=".pages.ViewAccountPage" />
        <activity android:name=".pages.SearchMemberPage" />
        <activity android:name=".pages.AdjustInventoryPage" />
        <activity android:name=".pages.AddBookPage" />
        <activity android:name=".pages.RemoveBookPage" />
        <activity android:name=".pages.ManageUserPage" />
        <activity android:name=".pages.IssueBookPage" />
        <activity android:name=".pages.ReturnBookPage" />
        <activity android:name=".pages.PayBalancePage" />
        <activity android:name=".pages.IssueFinePage" />
        <activity android:name=".pages.AssignLibrarianPage" />
        <activity android:name=".pages.SetFinePage" />


        <activity
            android:name=".pages.SplashPage"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>